@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

header {
  margin-top: 40px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}

header a {
  width: 70px;
  background-color: grey;
  color: orange;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

header a:hover {
  color: white;
  border-bottom: 3px solid white;
}

.container {
  margin: 60px auto;
  width: 50%;
  display: grid;
  grid-template-areas:
    "a a b"
    "a a b"
    "c d d"
    "c e e";
  gap: 10px;
}

.item1 {
  background-color: maroon;
  grid-area: a;
  padding: 5em;
}

.item2 {
  background-color: white;
  grid-area: b;
  padding: 5em;
}

.item3 {
  background-color: teal;
  grid-area: c;
  padding: 5em;
}

.item4 {
  background-color: gold;
  grid-area: d;
  padding: 4em;
}

.item5 {
  background-color: navy;
  grid-area: e;
  padding: 5em;
}
